# Copier ce fichier en .env et remplir les valeurs
# Disponibles sur Aiven Console > votre service MySQL > Connection information

AIVEN_HOST=your-aiven-host.aivencloud.com
AIVEN_PORT=14256
AIVEN_USER=avnadmin
AIVEN_PASSWORD=your-aiven-password
AIVEN_DB=your-database-name

# Chemin vers le certificat CA téléchargé depuis Aiven Console
AIVEN_SSL_CA=ca.pem

# MariaDB Cloud (SkySQL)
MARIADB_HOST=your-mariadb-host.skysql.com
MARIADB_PORT=4013
MARIADB_USER=your-mariadb-user
MARIADB_PASSWORD=your-mariadb-password
MARIADB_DB=your-mariadb-database
MARIADB_SSL_CA=globalsignrootca.pem

# Fichier de données (pour l'app Streamlit)
DATAFILE=1h-attack-log.csv

# Clé API Mistral
MISTRAL_API_KEY=your-mistral-api-key
